/* Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", serif;
}
input,
button {
  border: none;
  outline: none;
}
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.br-5 {
  border-radius: 5px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    318deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(101, 88, 245, 1) 100%
  );
}

.bmi {
  text-align: center;
  padding: 2.5rem;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.main__title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
}
.main__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.form__group {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 0.8rem;
  margin: 2rem 0;
}
.form__input {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid #c5ced6;
  border-radius: 8px;
}
.form__submit {
  margin-bottom: 3rem;
  display: flex;
  justify-content: start;
}
.btn__submit {
  padding: 0.8rem;
  background: #6558f5;
  border: 1px solid #6558f5;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}
.btn__submit:hover {
  padding: 0.8rem;
  background: transparent;
  border: 1px solid #6558f5;
  color: #6558f5;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}
.result {
  display: flex;
  font-size: 1.2rem;
}
#bmi-result,
#bmi-result-categories {
  font-size: 1.2rem;
  font-weight: bold;
}
